.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vh;
    background-color: red;
  }

.inside {
    width: 200px;
    height: 200px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
  