.image-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
  
.slider-container {
    width: 600px;
    border: solid black;
    display: flex;
}
  
.slider-container #slider-img {
    width: 100%;
}
  