#name{
    text-align: left;
}

#coke{
    text-decoration: line-through;
}
#chococream{
    text-decoration: line-through;
}
#sprite{
    text-decoration: line-through;
}

#book b{
    color: red;
    text-decoration: overline wavy rgb(71, 0, 93);
}