@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

.header{
    margin: auto;
    font-family: 'JetBrains Mono', monospace;
    font-size: large;
    background-color: rgb(46, 73, 37);
    width: 425px;
    text-align: center;
    padding: 1px;
    border-radius: 15px;
    transition: 0.5s ease;
}
.header:hover{
    transform: scale(1.06);
}
header,h1{
    color: white;
}
.whole {
    display: inline-flex;
}
.whole h1{
    font-size: 30px;
    font-family: 'JetBrains Mono', monospace;
    margin-left: 10px;
    color: black;
}

.car {
    background-color: rgb(179, 183, 147);
    border-radius: 15px;
    margin-left: 30px;
    transition: 0.5s ease;
}
.car:hover{
    transform: scale(1.01);
}
#power{
    color: black;
    margin-left: 20px;
}
.frontcont{
    display: flex;
    font-family: 'JetBrains Mono', monospace;
    margin-top: 30px;
}
.fronthov{
    transition: 0.5s ease;
    background-color: rgb(179, 183, 147);
    border-radius: 15px;
    margin-left: 30px;
}

.fronthov:hover{
    transform: scale(1.01);
}