.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-item {
    width: 100px;
    height: 100px;
    background-color: rgb(40, 0, 25);
    margin: 5px;
}

button {
    margin-top: 10px;
}
div{
    color: white;
}