@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

* {
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h2,h3,a {
	color: #34495e;
}

a {
	text-decoration: none;
}
.logo {
	margin: 0;
	font-size: 1.45em;
}
.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}
.main-nav a {
	color: #34495e;
	font-size: .99em;
}
.main-nav a:hover {
	color: #718daa;
}
.header {
    padding: 2.5em 15em 0 17em;
	border: none;
	background-color: #ffffff;
	border-radius: 5px;
}
#btn-nav{
    background: #8c50f2;
    border-radius: 2em;
    color: white;
}
#img2{
	width: 500px;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 5em 15em 0 15em;
}
.text{
    width: 26em;
    padding-top: 5em;
}
.paragraph{
    padding-left: 3em;
}
.header2{
    padding-left: 3em;
    color: #8c50f2;
}
.button{
    padding-left: 3em;
}
#button{
    border: none;
    background-color: #8c50f2;
    padding: 1em;
    border-radius: 2em;
    color: white;
}
.main-main{
	width: 1500px;
}

@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
