#parent{
    background: red;
    width: 40px;
    height: 40px;
    border-radius: 2.5px;
    position: relative;
}

#child{
    background: rgb(0, 38, 255);
    width: 15px;
    height: 15px;
    border-radius: 2.5px;

    position: absolute;

    right: 10px;
    bottom: 20px;
}


